html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 6em;
}

body {
  font-family: "Chakra Petch", sans-serif;
  print-color-adjust: exact;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  padding: 0;
  margin: 0;
  min-height: calc(100vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: #111;
  background-position: top;
  background-attachment: fixed;
  color: #EEE;
}

section {
  margin: 0;
  min-height: calc(100vh - 17em);
  display: flex;
  flex-direction: column;
  padding: 2em 2em;
}

.top-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-item-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-item {
  color: #EEE;
  text-decoration: none;
  min-width: 40px;
  padding: 1em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.whoami {
  display: flex;
  flex-direction: column;
  margin-top: 2em;;
}

.whoami > h1 {
  font-size: 1.6em;
}

footer {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  padding: 2em;
}

#about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

#about-me-name {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (min-width: 600px) {
  section {
    min-height: calc(100vh - 13em);
  }
  body { font-size: 18px; }
  .whoami { margin-left: 2em; margin-top: 0; }
  .top-bar {
    flex-direction: row;
    height: 6em;
    justify-content: space-between;
    align-items: center;
  }
  .top-menu { margin-right: 1.5em; }
  .menu-item { 
    padding: 0 0.5em;
    height: 100%;
   }
   #about-me-container {
    flex-direction: row;
    justify-content: start;
  }

  #about-me-name {
    margin-left: 2em;
    flex-direction: column;
    justify-content: start;
    text-align: start;
  }
}

@media (min-width: 940px) {
  section { 
    padding: 4em; 
    min-height: calc(100vh - 23em);
  }
  .whoami { margin-left: 4em; }
  .top-menu { margin-right: 2em; }
  .menu-item { padding: 0 2em; }
  footer { padding: 4em; }
}

@media (min-width: 1200px) {
  section { 
    padding: 4em 16em; 
    min-height: calc(100vh - 23em);
  }
}

.col {
  display: flex;
  flex-direction: column;  
}

.row {
  display: flex;
  flex-direction: row;  
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

a:hover {
  color: #00d000;
  text-decoration: underline;
}

h2 {
  margin-bottom: 0.5em;
}

h4 {
  margin: 0.5em 0;
}

.terminal-block {
  margin-bottom: 0.5em;
}

.terminal-user {
  color: #00d000;
}

.terminal-path {
  color: #6666f0;
}

.article {
  margin-bottom: 1em;
}

a {
  color: #EEE;
  text-decoration: none;
}

.post-date {
  color: #666;
  margin-right: 0.6em;
}

h3 {
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}

#about-me > h3 {
  margin-top: 2em;
}

#about-me li {
  margin-bottom: 0.5em;
}

#about-me a {
  text-decoration: underline;
}

#about-me-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#thm-badge {
  max-width: 80vw;
  margin-top: 0.5em;
}